<div class="logo">
    <center><img src="/assets/images/burger.jpg" alt="Logo"></center>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <p class="text">Add, EAT , CREATE  a BURGER</p>
        <form class="form">
            <div class="form-group">
                <input type="text" placeholder="Burger name" id="burger-input" name="name">
            </div>
            <button id="submit-btn" type="submit">ADD BURGER</button>
        </form>
    </div>
</div>

<div class="row">

    <div class="col-md-5 eat">
        <h2>Burgers to eat!</h2>
        <ul>
            {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devour=true}} {{/unless}} {{/each}}
        </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 done">
        <h2>Already eaten!</h2>
        <ul>
            {{#each burgers}} {{#if devoured}}
            <div class="eat-burger">
                <span class="label">#{{this.id}}</span>
                <span class="label">{{this.burger_name}}</span>
            </div>
            {{/if}} {{/each}}
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

<div id ="footerSection">
  <center><p>Hosted  By CRSCODE</p></center>
</div>